<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donation - RESQ LINK</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/donate.css">
    
    </style>
</head>
<body>
    <nav>
        <div class="nav-left">
            <h1>RESQ LINK</h1>
            <a href="/home">HOME</a>
            <a href="/aboutus">ABOUT US</a>
            <a href="/comm">COMMUNITY</a>
            <a href="/alerts">ALERTS</a>
            <a href="/donate">DONATION</a>
            <a href="/helpline">HELPLINE</a>
        </div>
        <div class="nav-buttons">
            <a href="/logout">Logout</a>
        </div>
    </nav>

    <div class="container">
        <div class="donation-section">
            <h2>Your Contribution Can Make a Difference!</h2>
            <p>Support our cause to help those affected by natural disasters. Scan the QR code below to make a donation using PhonePe, Google Pay, or any UPI app.</p>

            <div class="qr-container">
                <img src="./PHOTOS/qr.png" alt="UPI QR Code not showing">
                <p>Scan to Pay (UPI ID: <strong>8971333129@ybl</strong>)</p>
            </div>

            <p>You can also donate to our UPI ID: <strong>UPI.ID@bankname</strong>.</p>
        </div>
    </div>
    <footer class="bg-gray-800 text-white py-8">
        <div class="container mx-auto text-center">
         <div class="mb-4">
          <a class="hover:text-b1aefc mx-2" href="#">
           About Us
          </a>
          <a class="hover:text-b1aefc mx-2" href="#">
           Community
          </a>
          <a class="hover:text-b1aefc mx-2" href="#">
           Alerts
          </a>
          <a class="hover:text-b1aefc mx-2" href="#">
           Donation
          </a>
          <a class="hover:text-b1aefc mx-2" href="#">
           Helpline
          </a>
         </div>
         <div class="mb-4">
          <a class="hover:text-b1aefc mx-2" href="#">
           <i class="fab fa-facebook-f">
           </i>
          </a>
          <a class="hover:text-b1aefc mx-2" href="#">
           <i class="fab fa-twitter">
           </i>
          </a>
          <a class="hover:text-b1aefc mx-2" href="#">
           <i class="fab fa-instagram">
           </i>
          </a>
          <a class="hover:text-b1aefc mx-2" href="#">
           <i class="fab fa-linkedin-in">
           </i>
          </a>
         </div>
         <p>
          © 2023 RESQ LINK. All rights reserved.
         </p>
        </div>
       </footer>
</body>
</html>
